@using OOP_Community.Models;
@{
    ViewBag.Title = "Dashboard";
    List<Resident> residents = ((IEnumerable<Resident>)ViewData["residents"]).ToList();
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">

        <div class="row">

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Residents <span>| This Month</span></h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewData["NewResidents"] New Residents</h6>
                                <span class="text-success small pt-1 fw-bold">@ViewData["NewResidentsPer"]% </span> <span class="text-muted small pt-2 ps-1">increase</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">

                    <div class="card-body">
                        <h5 class="card-title">Monthly Dues <span>| This Month</span></h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash-stack"></i>
                            </div>
                            <div class="ps-3">
                                <h6>₱ @ViewData["Paid"] Paid</h6>
                                <span class="text-success small pt-1 fw-bold">@ViewData["PaidPer"] %</span> <span class="text-muted small pt-2 ps-1">of ₱ @ViewData["TotalMD"]</span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card">

                    <div class="card-body">
                        <h5 class="card-title">Projects <span>| This Month</span></h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-clipboard"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewData["Completed"] Completed</h6>
                                <span class="text-success small pt-1 fw-bold">@ViewData["comPer"] %</span> <span class="text-muted small pt-2 ps-1">of @ViewData["TotalProj"] Projects</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resident List</h5>


                    <ul class="list-group list-group-numbered">
                        @foreach (var resident in residents)
                        {
                            <li class="list-group-item">@resident.fname @resident.lname</li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>